{
	"parser":  "babel-eslint",
	"extends": "airbnb",

	"env": {
		"browser": true,
		"node":    true,
	},

	"settings": {
		"import/resolver": "webpack",
	},

	"rules": {
		"no-tabs":                false,
		"indent":                 [ "error", "tab" ],
		"no-return-assign":       [ "error", "except-parens" ],
		"key-spacing":            [ "warn", align: "value" ],
		"template-curly-spacing": [ "warn", "always" ],

		"space-in-parens": [ "warn", "always", {
			exceptions: [ "{}" ],
		}],

		"no-multi-spaces": [ "warn", {
			exceptions: {
				VariableDeclarator:   true,
				ImportDeclaration:    true,
				AssignmentExpression: true,
			}
		}],

		"import/no-extraneous-dependencies": [ "error": {
			"devDependencies": true,
		}],

		"react/jsx-indent":        [ "error", "tab" ],
		"react/jsx-indent-props":  [ "error", "tab" ],

		"react/jsx-curly-spacing": [ "warn", {
			"when":           "always",
			"objectLiterals": "never",
		}],

		"react/jsx-filename-extension": [ "error", {
			extensions: [ ".js", ".jsx" ],
		}],
	},
}
