{
	"parser": "babel-eslint",
	"extends": "airbnb",

	"env": {
		"browser": true,
		"node": true
	},

	"settings": {
		"import/resolver": "webpack"
	},

	"rules": {
		"no-tabs": 0,
		"indent": [ "error", "tab" ],
		"react/jsx-indent": [ "error", "tab" ],
		"react/jsx-indent-props": [ "error", "tab" ],
		"react/jsx-curly-spacing": [ "warn", "always" ],
		"react/jsx-filename-extension": 0,
		"key-spacing": [ "warn", "align": "value" ],
		"no-multi-spaces": [ "warn", { "exceptions": { "VariableDeclarator": true } } ],
		"import/no-extraneous-dependencies": [ "error", { "devDependencies": [ "**/*.config.js" ] } ]
	}
}
