{
	extends: "airbnb",
	parser:  "babel-eslint",

	parserOptions: {
		ecmaVersion: 6,
		sourceType: "module",

		ecmaFeatures: {
			jsx: true,
		},
	},

	env: {
		browser: true,
		node:    true,
	},

	settings: {
		"import/resolver": "webpack",
	},

	rules: {
		"no-param-reassign":            0,
		"no-tabs":                      0,
		"default-case":                 0,
		"max-len":                      [ "warn", 192 ],
		"no-return-assign":             [ "error", "except-parens" ],
		"template-curly-spacing":       [ "warn", "always" ],
		"arrow-parens":                 [ "warn", "always" ],
		"object-shorthand":             [ "warn", "consistent" ],
		"one-var-declaration-per-line": [ "warn", "initializations" ],

		"space-in-parens": [ "warn", "always", {
			"exceptions": [ "()", "[]", "{}" ],
		}],

		"key-spacing": [ "warn", {
			align: "value"
		}],

		"padded-blocks": [ "warn", {
			classes: "always",
		}],

		"lines-around-comment": [ "warn", {
			beforeBlockComment:   true,
			afterBlockComment:    true,
			beforeLineComment:    true,
		}],

		"indent": [ "error", "tab", {
			SwitchCase: 1,
		}],

		"array-bracket-spacing": [ "warn", "always", {
			objectsInArrays: false,
			arraysInArrays:  false,
		}],

		"no-multi-spaces": [ "warn", {
			exceptions: {
				Property:             true,
				AssignmentExpression: true,
				VariableDeclarator:   true,
				ImportDeclaration:    true,
			}
		}],

		"import/no-extraneous-dependencies": [ "error", {
			devDependencies: true,
		}],

		"react/forbid-prop-types": 0,
		"react/jsx-indent":        [ "error", "tab" ],
		"react/jsx-indent-props":  [ "error", "tab" ],

		"react/jsx-curly-spacing": [ "warn", {
			when:    "always",
			spacing: { objectLiterals: "never" },
		}],

		"react/jsx-filename-extension": [ "error", {
			extensions: [ ".js", ".jsx" ],
		}],
	},
}
