{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-combinator-space-before": null,
    "block-closing-brace-space-before": null,
    "block-opening-brace-space-before": null,
    "function-parentheses-space-inside": "always",
    "selector-attribute-brackets-space-inside": "never",
    "media-feature-parentheses-space-inside": "always",
    "block-closing-brace-empty-line-before": "always",
    "rule-empty-line-before": "always-multi-line",
    "rule-empty-line-before": "always"
  }
}
