/**
 * App
 */

@import 'global';

* {
	border: 0;
	margin: 0;
	padding: 0;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

nav,
aside,
article,
details,
header,
hgroup,
footer,
section,
summary,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

hr {
	background: $color-dark;
	background: -webkit-linear-gradient( left, $color-light, $color-dark, $color-light );
	background: -moz-linear-gradient( left, $color-light, $color-secondary, $color-light );
	background: -o-linear-gradient( left, $color-light, $color-dark, $color-light );
	background: linear-gradient( left, $color-light, $color-dark, $color-light );
	height: 1px;
	margin: lines( 1 ) auto;
	max-width: 768px;
}

strong { font-weight: bold; }
em { font-style: italic; }

body {
	@include font-size( 20px );
	background: $color-light;
	color: $color-dark;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

main {
	background: $color-light;
	position: relative;
	z-index: 2;
}

h1 { @include font-size( 48px ); }
small { @include font-size( 16px ); }

a {
	color: $color-primary;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
