.footer {
  height: lines(10);
  position: relative;
  overflow: hidden;

  ul li a {
    height: lines(2);
  }
}

.footer-inner {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
