/**
 * Header
 */

@import 'global';

$breakpoint: 768px;

.header {
	position: fixed;
	height: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	transition: height 300ms 300ms;
	background: url( ../../assets/images/bricks.jpg );
	background-size: cover;
	border-bottom: 1px solid $color-secondary;

	&.header--scrolled {
		height: lines( 4 );
	}

	&.header--open {
		height: 100vh;
		transition: height 300ms;
	}

	&::after {
		background: $color-light;
		opacity: 1;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		transition: opacity 300ms 300ms;
	}

	&.header--open::after {
		opacity: 0.8;
		transition: opacity 300ms;
	}
}

.header-interface {
	box-sizing: content-box;
	margin: 0 auto;
	max-width: $site-width;
	overflow: hidden;
	padding: 0 lines( 1 );
}

.header-logo {
	color: $color-light;
	display: block;
	float: left;
	font-size: font-size( 24px );
	font-weight: 100;
	line-height: lines( 4 );
	text-decoration: none !important;
	transition: all 300ms 300ms, border-color 300ms;

	span {
		font-weight: 800;
	}

	.header--open &,
	.header--scrolled & {
		color: $color-dark;
	}

	.header--open & {
		transition: all 300ms;
	}

	@media ( min-width: $breakpoint ) {
		font-size: font-size( 30px );

		.header--open & {
			font-size: font-size( 40px );
		}
	}
}

.header-button {
	background: none;
	cursor: pointer;
	display: block;
	float: right;
	position: relative;
	transition: all 300ms 300ms;
	z-index: 100;
	height: lines( 3 );
	width: lines( 3 );
	margin-top: lines( 0.5 );

	&:focus {
		outline: none;
	}

	.header--open & {
		transition: all 300ms;
	}

	span {
		background: $color-light;
		display: block;
		height: 5%;
		left: 10%;
		opacity: 1;
		position: absolute;
		transition: all 300ms cubic-bezier( 0.175, 0.885, 0.32, 1.275 ), background 300ms 300ms;
		width: 80%;

		.header--open & {
			transition: all 300ms cubic-bezier( 0.175, 0.885, 0.32, 1.275 ), background 300ms;
		}

		.header--open &,
		.header--scrolled & {
			background: $color-dark;
		}

		&:nth-child( 1 ) { top: 22.5%; }
		&:nth-child( 2 ) { top: 47.5%; }
		&:nth-child( 3 ) { top: 72.5%; }

		.header--open &:nth-child( 1 ) {
			transform: translate( 20%, -80% ) rotate( 45deg );
			transform-origin: left top;
		}

		.header--open &:nth-child( 2 ) {
			opacity: 0;
			width: 0;
		}

		.header--open &:nth-child( 3 ) {
			transform: translate( 20%, 0 ) rotate( -45deg );
			transform-origin: left bottom;
		}
	}
}

.header-links {
	height: calc( 100vh - lines( 3 ) );
	position: fixed;
	pointer-events: none;
	bottom: 0;
	left: 0;
	width: 100%;

	.header--open & {
		pointer-events: auto;
	}
}

.header-sections {
	width: 100%;
	padding: 0 0 lines( 6 );
	position: absolute;
	bottom: 0;
	text-align: center;

	@media ( min-width: $breakpoint ) {
		bottom: 0;
		margin-bottom: 0;
		padding: 0 0 lines( 1 );
		text-align: right;
	}

	> li {
		transform: translate( 0, 1000px );
		transition: all 600ms ease-out;
		max-width: $site-width;
		box-sizing: content-box;
		padding-right: lines( 1 );
		margin: 0 auto;

		&:last-child {
			padding: 0;
		}

		.header--open & { transform: translate( 0, 0 ); }
		.header--open &:nth-child( 1 ) { transition: all 400ms ease-out; }
		.header--open &:nth-child( 2 ) { transition: all 500ms ease-out; }
		.header--open &:nth-child( 3 ) { transition: all 600ms ease-out; }
		.header--open &:nth-child( 4 ) { transition: all 700ms ease-out; }

		> a {
			color: $color-dark;
			display: block;
			font-size: font-size( 70px );
			font-weight: 800;
			line-height: 1.125;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 300ms;

			&:hover {
				color: $color-primary;
			}

			@media ( min-width: $breakpoint ) {
				font-size: font-size( 120px );
				line-height: 1;
			}
		}
	}
}

.header-social {
	box-sizing: content-box;
	padding-bottom: lines( 1 );
	padding-top: lines( 1 );
	margin: 0 auto;
	max-width: $site-width;

	@media ( min-width: $breakpoint ) {
		padding-right: lines( 1 );
	}

	> li {
		display: inline-block;

		& + li {
			margin-left: lines( 1 );
		}

		> a {
			display: inline-block;
			height: lines( 3 );

			@media ( min-width: $breakpoint ) {
				height: lines( 4 );
			}

			.icon {
				height: 100%;

				svg {
					transition: fill 300ms;
				}
			}

			&:hover .icon svg {
				fill: $color-primary;
			}
		}
	}
}
