/**
 * Section
 */

@import 'global';

$margin: lines( 3 );

.section {
	> header {
		@include font-size( 72px );
		/* background: $color-dark; */
		/* color: $color-light; */
		text-align: center;
		font-weight: 700;
		padding: lines( 2 ) 0;

		h1 {
			@include font-size( 72px );
			margin: $margin 0 0;
		}
	}

	hr { margin-bottom: $margin; }

	> p {
		@include font-size( 24px );
		& + p { margin-top: lines( 1 ); }
	}

	a {
		font-weight: normal;
		text-decoration: underline;
		&:hover { text-decoration: none; }
	}
}
