/**
 * Footer
 */

@import 'global';

$breakpoint: 512px;
$footer-height: lines( 15 );

.footer {
	background: url( ../../assets/images/bricks.jpg ) fixed;
	background-size: cover;
	color: $color-light;
	height: $footer-height;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::after {
		background: $color-dark;
		opacity: 0.9;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}

	.footer-text {
		font-weight: 200;
		font-size: font-size( 24px );
		padding: 0 0 lines( 1 );
		line-height: line-height( 24px );

		a {
			display: inline-block;
			padding: 0 lines( 0.25 );
			text-decoration: none;
			transition: 200ms all;

			&:hover {
				background: $color-light;
			}
		}

		@media ( min-width: $breakpoint ) {
			font-size: font-size( 36px );
			line-height: line-height( 36px );
		}
	}

	.footer-links a {
		display: inline-block;
		height: lines( 2 );
		margin-right: lines( 1 );

		@media ( min-width: $breakpoint ) {
			height: lines( 2.5 );
			margin-right: lines( 1.5 );
		}

		&:last-child {
			margin-right: 0;
		}

		svg {
			fill: $color-light;

			&:hover {
				fill: $color-primary;
			}
		}
	}
}

.footer-inner {
	bottom: 0;
	height: $footer-height;
	padding: lines( 2.5 ) 0 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
}
