/**
 * Footer
 */

@import 'global';

$footer-height: lines( 15 );

.footer {
	background: url( ../../assets/images/bricks.jpg ) fixed;
	background-size: cover;
	color: $color-light;
	height: $footer-height;
	position: relative;
	overflow: hidden;

	&::after {
		background: $color-dark;
		opacity: 0.9;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.footer-text {
		@include font-size( 24px );
		font-weight: 300;
		padding: 0 0 lines( 1 );

		a {
			color: $color-light;
			padding: lines( 0.5 ) 0;
			text-decoration: none;
			transition: 200ms all;

			&:hover {
				background: $color-primary;
				padding: lines( 0.5 );
			}
		}

		@include breakpoint( small ) {
			@include font-size( 36px );
		}
	}

	.footer-links a {
		display: inline-block;
		height: lines( 2 );
		margin-right: lines( 1 );
		&:last-child { margin-right: 0; }

		@include breakpoint( small ) {
			height: lines( 2.5 );
			margin-right: lines( 1.5 );
		}

		svg {
			fill: $color-light;
			&:hover { fill: $color-primary; }
		}
	}
}

.footer-inner {
	display: flex;
	align-items: center;
	text-align: center;
	height: $footer-height;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
	
	section {
		position: relative;
		width: 100%;
	}
}
