* {
  border: 0;
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

nav,
aside,
article,
details,
header,
hgroup,
footer,
section,
summary,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

hr {
  border-top: 1px solid $foreground-color;
  height: 1px;
  margin: lines(1) 0 lines(1, 1px);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  background: $background-color;
  color: $foreground-color;
  font-family: 'Source Sans Pro', serif;
  font-size: fontsize($base-font-size);
  line-height: lineheight($base-font-size);
}

h1 {
  font-size: fontsize($h1-font-size);
  line-height: lineheight($h1-font-size);
}

h2 {
  font-size: fontsize($h2-font-size);
  line-height: lineheight($h2-font-size);
}

h3 {
  font-size: fontsize($h3-font-size);
  line-height: lineheight($h3-font-size);
}

h4 {
  font-size: fontsize($h4-font-size);
  line-height: lineheight($h4-font-size);
}

h5 {
  font-size: fontsize($h5-font-size);
  line-height: lineheight($h5-font-size);
}

h6 {
  font-size: fontsize($h6-font-size);
  line-height: lineheight($h6-font-size);
}

small {
  font-size: fontsize($small-font-size);
  line-height: lineheight($small-font-size);
}
