/**
 * Globals
 *
 * :: Variables
 * :: Functions
 * :: Mixins
 */

/**
 * Variables
 */

$site-width:       1024px;
$column-count:     12;
$base-font-size:   16px;
$base-line-height: 1.25;
$color-light:      #fcfcfc;
$color-dark:       #030303;
$color-primary:    #941b0c;
$color-secondary:  #d6d6d6;

/**
 * Functions
 */

@function strip-units( $number ) {
	@return $number / ( $number * 0 + 1 );
}

@function font-size( $target-font-size ) {
	$font-size: $target-font-size / $base-font-size;
	@return $font-size * 1rem;
}

@function line-height( $target-font-size ) {
	$line: $base-font-size * $base-line-height;
	$line-count: ceil( $target-font-size / $line );
	$line-height: ( $line * $line-count ) / $target-font-size;
	@return $line-height;
}

@function lines( $count, $pixels-to-subtract: null ) {
	$subtract: if( $pixels-to-subtract != null, $pixels-to-subtract / $base-font-size, 0 );
	$line: $base-line-height * 1rem;
	@return $line * $count - $subtract;
}

/**
 * Mixins
 */

@mixin digital() {
	font-family: 'Alarm Clock', monospace;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin font-size( $target-font-size ) {
	font-size: font-size( $target-font-size );
	line-height: line-height( $target-font-size );
}
