$breakpoint: span( 10, rem );

.thumbnail {
	background: url( ../../assets/images/bricks.jpg );
	background-size: 200%;
	color: $background-color;
	padding: lines( 2.5 ) lines( 2.5 );
	position: relative;
	text-align: center;
	transition: 200ms all;
	cursor: pointer;

	@media ( min-width: $breakpoint ) {
		background-attachment: fixed;
		background-size: cover;
	}

	.thumbnail-title,
	.thumbnail-text {
		position: relative;
		z-index: 2;
	}

	.thumbnail-title {
		font-family: 'Montserrat', sans-serif;
		font-size: fontsize( 54px );
		font-weight: 800;
		line-height: lineheight( 54px );
	}

	&::before {
		background: $foreground-color;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.9;
		position: absolute;
		transition: 200ms all;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&:hover::before {
		background: $highlight-color;
	}
}
